.header {
  display: flex;
  flex-direction: column;
}

.navbar-nav {
  @include media-breakpoint-up(lg) {
      gap: 20px;
  }
}

.navbar-brand {
  display: flex;
  justify-content: center;
}

.nav-link {
  position: relative;
  transition: all 300ms ease-out;
  text-transform: uppercase;
  font-weight: 600;

  &::after {
      content: "";
      transition: all 300ms ease-out;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transform: scaleX(0);
      height: 2px;
      transform-origin: center;
      background-color: var(--highlight);
  }

  &:hover,
  &.active {
      color: var(--highlight) !important;

      &::after {
          content: "";
          opacity: 0.5;
          transform: scaleX(1);
      }
  }
}