.header {
    display: flex;
    flex-direction: column;
}
.navbar-brand {
    display: flex;
    justify-content: center;

    img {
        max-width: 200px;
        height: auto;
    }
}

.main-navbar {
    @include media-breakpoint-up(lg) {
        gap: 20px;
    }
}


.main-nav {
    position: relative;
    //transition: all 300ms ease-out;
    text-transform: uppercase;
    font-size: 14px;

    &::after {
        content: "";
        transition: all 200ms ease-out;
        position: absolute;
        width: 4px;
        height: 4px;
        bottom: 5px;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%);
        border-radius: 50%;
        transform-origin: center;
        background-color: var(--highlight);
    }

    &:hover,
    &.active {
        color: var(--highlight) !important;

        &::after {
            opacity: 0.5;
            transform: scaleX(1.1);
        }
    }
}

/*----------------------
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
*/