.pack-price {
    position: absolute;
    overflow: hidden;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.pack-price__image {
    position: absolute;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
