
/* carousel home */
.carousel-item, .carousel{
    background-size: cover;
    height: 550px;
    min-height: 500px;
}

.carousel-item img{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 550px;
}

/* top image  para funcionar full width a div tem de ter "container-fuid" */
#page-image{
    height: 340px;
    width: 100% !important;
    display:block;
    position:relative;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: #ffffff;   /* text  color */
}

.contact{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/* ------ Animations ------- */
.contactTitle{
    animation: bounce 1.5s infinite;
}

.titleAnimate{
     
    animation:  colors 4s infinite, bounce 3s infinite;
}

@keyframes bounce {
    from {
        transform: translate(0,4px);
    }

    to {
        transform: translate(0,8px);
    }
}

@keyframes colors {
    0%   {color: beige;}
    25%  {color:#b38692;;}
    50%  {color:#583863;}
    100% {color: white}
  }
/* ------------------- */

/* Social links */
div#social-links {
    margin-left: 0px;
}
<<<<<<< HEAD
div#social-links ul {
    padding-inline-start: 0px !important;
}
=======
 

>>>>>>> af263d6 (updates)
div#social-links ul li {
    display: inline-block;
}
div#social-links ul li a {
    padding: 4px;
    margin: 1px;
    font-size: 18px;
    color: #583863;
    background-color: rgb(237, 237, 237);
}

div#social-links ul li a:hover {
    padding: 4px;
    margin: 1px;
    font-size: 18px;
    color: #ffffff;
    background-color: #583863;
}
div#social-links p{  /*Text share*/
    margin-left: 40px;
    margin-bottom: 0px;
}

/*Teste para os cards*/
.card-price{
    border:20px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-color: #b38692;
}

/*Footer social*/
.footer__social-link{
    padding: 8px;
}


/*Cookies Consent  // Os cookies estão diretamente carragados pleo middlesware no kernel*/
.js-cookie-consent{
    position: sticky;
    text-align: center;
    bottom: 0;
    top: 0px;
    padding: 10px;
    width: 100%;
    z-index: 9999;
    background-color:beige;
    border-color: #443549 1px;  
}




.js-cookie-consent-agree.cookie-consent__agree{
    background-color: #443549;
    border-radius: 8px;
    border-color: #ffffff;
    border: solid 1px;
    color: #ffffff;
}


.shape {
    background-image: linear-gradient(110deg,  rgba(255, 255, 255, 0) 50%, #ffe7eb 50%);
 
  }
 
