/* carousel home */
.carousel-item, .carousel{
    background-size: cover;
    height: 550px;
    min-height: 500px;
}

.carousel-item img{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 550px;
}

.carousel-control-prev-icon {
    background-image: url("https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/chevron-double-left.svg");
    background-size: 22px;
   }

.carousel-control-next-icon{
    /* background-image: url("https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/camera-fill.svg");*/
     background-image: url("https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/chevron-double-right.svg");
     background-size: 20px;
   }


/* carousel testimonial */
#testimonial{
    background-size: cover;
    background-color: #c5c8caa7;
    height: 300px;
    min-height: 200px;
}

#testimonial .carousel-item{
    background-size: cover;


}

.tprev {
    background-image: url("https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/blockquote-left.svg");
    background-size: 30px;
   }

.tnext{
     background-image: url("https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/blockquote-right.svg");
     background-size: 30px;
   }

.blockquote{
    margin-top: 60px;
    color: black;

}

.blockquote-footer{
    color: #583863;
}

/* top image  para funcionar full width a div tem de ter "container-fuid" */
#page-image {
    height: 340px;
    width: 100% !important;
    display:block;
    position:relative;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: #ffffff;   /* text  color */
}

.contact{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/* pack show */
.pack-show{
    border-radius: 5px;
    background-color: rgb(255,255,255,0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}
.titlePackUL{
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #c4a4a4;
    -ms-transform: rotate(355deg); /* IE 9 */
    transform: rotate(355deg);
}
.pack-description{
    border: 1px solid #c4a4a4;
    padding: 20px;
}
/*----*/
/* ------ Animations ------- */
.contactTitle{
    animation: bounce 1.5s infinite;
}

.titleAnimate{

    animation:  colors 4s infinite, bounce 3s infinite;
}

@keyframes bounce {
    from {
        transform: translate(0,4px);
    }

    to {
        transform: translate(0,8px);
    }
}

@keyframes colors {
    0%   {color: beige;}
    25%  {color:#b38692;;}
    50%  {color:#583863;}
    100% {color: white}
  }
/* ------------------- */

/* Social links */
div#social-links {
    margin-left: 0px;
}
div#social-links ul {
    padding-inline-start: 0px !important;
}
div#social-links ul li {
    display: inline-block;
}
div#social-links ul li a {
    padding: 4px;
    margin: 1px;
    font-size: 18px;
    color: #583863;
    /* background-color: rgb(237, 237, 237); */
}

div#social-links ul li a:hover {
    padding: 4px;
    margin: 1px;
    font-size: 18px;
    color: #9b74a9;
    /* background-color: #583863; */
}
div#social-links p{  /*Text share*/
    margin-left: 0px;
    margin-bottom: 0px;
}

/* Pack Card Styles & Animations */
.pack-card__price {
    position: relative;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.pack-card__image {
    transition: transform 400ms;
}

.pack-card__image > img {
    transition: all 240ms;
}

.pack-card__title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute;
    inset: 0 0 0 0;
}

.pack-card__title h2, h5 {
    margin: 0;
    color: rgb(237, 237, 237);
}

.pack-card__price > .card-body {
    z-index: 1;
}

.pack-card__price:hover .pack-card__image {
    transform: translateX(100px);
}

.pack-card__price:hover .pack-card__body {
    transform: translateX(0px);
    opacity: 1;
}

.pack-card__body {
    transition: all 450ms;
    transform: translateX(-100px);
    width: 80%;
    opacity: 0;
    color: rgb(237, 237, 237);
    background-color: rgba(68, 53, 73);
    display: flex;
    flex-direction: column;
}

.card-details {
    line-height: 2rem;
}

.card-price {
    font-weight: bold;
    font-size: 16px;
}

.pack-card__btn {
    margin-top: auto;
    color: rgba(68, 53, 73);
}

.pack-card__btn:hover {
    color: rgba(68, 53, 73);
    background-color: rgb(184, 180, 188);
}

/*Footer social*/
.footer__social-link{
    padding: 8px;
}

/*Cookies Consent  // Os cookies estão diretamente carragados pleo middlesware no kernel*/
.js-cookie-consent{
    position: sticky;
    text-align: center;
    bottom: 0;
    top: 0px;
    padding: 10px;
    width: 100%;
    z-index: 9999;
    background-color:beige;
    border-color: #443549 1px;
}

.js-cookie-consent-agree.cookie-consent__agree{
    background-color: #443549;
    border-radius: 8px;
    border-color: #ffffff;
    border: solid 1px;
    color: #ffffff;
}

.shape {
    background-image: linear-gradient(110deg,  rgba(255, 255, 255, 0) 50%, #fff2f4 50%);
  }

  /*  Gallery foto home */
.imgHome{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    max-width: 70%;
    max-height: 260px;
    min-height: 250px;
    width:  100px;
    height: 100px;
    object-fit: cover;
    align-items:center;
}

.imgHome:hover{
    transform: scale(0.97);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

  /*  images in fotografias page */
.imgFotografias{
    max-height: 310px;
    min-height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

  /*  video in videos page */
.video {
    border-radius: 8px;
    overflow: hidden;
  }
